<div>
  <mat-toolbar color="primary" *ngIf="claims && claims.Role == 'Administrador'">
    <button mat-button [matMenuTriggerFor]="maestros">Maestros</button>
    <button mat-button [matMenuTriggerFor]="clientes">Propietarios</button>
    <button mat-button [matMenuTriggerFor]="eventos">Eventos</button>
    <button mat-button [matMenuTriggerFor]="subastas">Subastas</button>
    <button mat-button [matMenuTriggerFor]="lotes">Lotes</button>
    <button mat-button [matMenuTriggerFor]="animales">Animales</button>
    <button mat-button [matMenuTriggerFor]="pujadores">Pujadores</button>
    <button mat-button routerLink="/listar-solicitud">Solicitudes</button>

    <mat-menu #clientes="matMenu">
      <button mat-menu-item routerLink="/listar-propietario">Listar</button>
      <button mat-menu-item routerLink="/crear-propietario">Crear</button>
    </mat-menu>

    <mat-menu #eventos="matMenu">
      <button mat-menu-item routerLink="/listar-evento">Listar</button>
      <button mat-menu-item routerLink="/crear-evento">Crear</button>
    </mat-menu>

    <mat-menu #subastas="matMenu">
      <button mat-menu-item routerLink="/listar-subasta">Listar</button>
      <button mat-menu-item routerLink="/crear-subasta">Crear</button>
      <button mat-menu-item routerLink="/subastas">Subastas</button>
    </mat-menu>

    <mat-menu #lotes="matMenu">
      <button mat-menu-item routerLink="/listar-lote">Listar</button>
      <button mat-menu-item routerLink="/crear-lote">Crear</button>
    </mat-menu>

    <mat-menu #animales="matMenu">
      <button mat-menu-item routerLink="/listar-animal">Listar</button>
      <button mat-menu-item routerLink="/crear-animal">Crear</button>
    </mat-menu>

    <mat-menu #pujadores="matMenu">
      <button mat-menu-item routerLink="/listar-pujador">Listar</button>
      <button mat-menu-item routerLink="/crear-pujador">Crear</button>
    </mat-menu>

    <mat-menu #maestros="matMenu">
      <button mat-menu-item routerLink="/admin-categorias">Categorías</button>
      <button mat-menu-item routerLink="/admin-clasificaciones">Clasificaciones</button>
      <button mat-menu-item routerLink="/admin-razas">Razas</button>
      <button mat-menu-item routerLink="/admin-ciudades">Municipios</button>
      <button mat-menu-item routerLink="/admin-departamentos">Departamentos</button>
      <button mat-menu-item routerLink="/admin-td">Documentos</button>
    </mat-menu>

    <span class="example-fill-remaining-space"></span>
    <span>
      Bienvenido, {{usuario}}
      <mat-icon (click)="logout()">exit_to_app</mat-icon>
    </span>
  </mat-toolbar>
  <mat-toolbar color="primary" *ngIf="claims && claims.Role == 'Pujador'">
    <span class="example-fill-remaining-space"></span>
    <span>
      Bienvenido, {{usuario}}
      <mat-icon (click)="logout()">exit_to_app</mat-icon>
    </span>
  </mat-toolbar>

  <mat-toolbar color="primary" *ngIf="!claims">
    <span class="example-fill-remaining-space"></span>
    <button mat-button routerLink="/subastas">Subastas</button>
    <span class="example-fill-remaining-space"></span>
    <button mat-button routerLink="/login">Ingresar</button>
  </mat-toolbar>
</div>
<router-outlet></router-outlet>