<mat-tab-group class="body">
  <mat-tab label="Eventos activos">
    <br>
    <div class="container">
      <div *ngFor="let evento of eventos">
        <div *ngIf="validarInicio(evento.fechaInicio)">
          <h2>{{evento.descripcion}}</h2>
          <mat-divider></mat-divider>
          <br>
          <div *ngFor="let subasta of evento.subastasDto">
            <div class="text-align-center" *ngIf="validarFinal(subasta.horaFin)">
              <mat-card class="example-card" *ngFor="let lote of subasta.lotesDto">
                <mat-card-header>
                  <mat-card-title> <span class="bold">Lote:</span> {{lote.nombre}}

                  </mat-card-title>
                  <mat-card-subtitle (click)="verLote(lote)" class="simulalink">
                    Ver detalles del lote
                    <mat-icon class="icon-medium">open_in_new</mat-icon>
                  </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <p>
                    <span class="bold">Precio inicial: </span> {{lote.precioInicial | number}}
                  </p>
                  <p>
                    <span class="bold">Puja Actual: </span> {{lote.pujaMinima.valor | number}}
                    <img *ngIf="usuario && usuario == lote.pujaMinima.usuario" src="assets/images/ok.png" alt="succsses">
                  </p>

                  <div *ngIf="!validarInicio(subasta.horaInicio)" class="bold">
                      Esta subasta se inicia en
                      <mat-icon class="icon-medium">calendar_today</mat-icon>
                      <countdown [text]="formatoFecha" units="Days | Hours | Minutes | Seconds"
                        end="{{subasta.horaInicio}}"></countdown>
                    </div>

                  <div *ngIf="validarInicio(subasta.horaInicio)" class="bold">
                    Tiempo restante
                    <mat-icon class="icon-medium">timer</mat-icon>
                    <countdown [text]="formatoFecha" units="Days | Hours | Minutes | Seconds"
                      end="{{subasta.horaFin}}"></countdown>
                  </div>


                </mat-card-content>
                <div *ngIf="!isAdmin">
                  <mat-card-actions *ngIf="subasta.estadoSolicitud === 'NO_AUTORIZADO' && estaAutenticado">
                    <button class="btn green" (click)="enviarSolicitud(subasta)">Solicitar Ingreso</button>
                  </mat-card-actions>
                  <mat-card-actions *ngIf="subasta.estadoSolicitud === 'PENDIENTE_POR_APROBAR'">
                    <button class="btn green" disabled>Solicitud pendiente por aprobar</button>
                  </mat-card-actions>
                  <mat-card-actions *ngIf="subasta.estadoSolicitud === 'RECHAZADO'">
                    <button class="btn green" disabled>Solicitud rechazada</button>
                  </mat-card-actions>
                  <mat-card-actions *ngIf="subasta.estadoSolicitud === 'AUTORIZADO'">
                    <button class="btn green" (click)="Pujar(lote)">Realizar puja</button>
                  </mat-card-actions>
                </div>
              </mat-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Próximos eventos">
    <br>
    <div class="container">
      <div *ngFor="let evento of eventos">
        <div *ngIf="!validarInicio(evento.fechaInicio)">
          <h2>{{evento.descripcion}}</h2>
          <mat-divider></mat-divider>
          <br>
          <div *ngFor="let subasta of evento.subastasDto">
            <div class="text-align-center">
              <mat-card class="example-card" *ngFor="let lote of subasta.lotesDto">
                <mat-card-header>
                  <mat-card-title>
                    <span class="bold">Lote:</span> {{lote.nombre}}
                  </mat-card-title>
                  <mat-card-subtitle (click)="verLote(lote)" class="simulalink">
                    Ver detalles del lote
                    <mat-icon class="icon-medium">open_in_new</mat-icon>
                  </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <p>
                    <span class="bold">Precio inicial: </span> {{lote.precioInicial | number}}
                  </p>
                  <p>
                    <span class="bold">Puja Actual: </span> {{lote.pujaMinima.valor | number}}
                    <img *ngIf="usuario && usuario == lote.pujaMinima.usuario" src="assets/images/ok.png" alt="succsses">
                  </p>

                  <div class="bold">
                      Esta subasta se inicia en
                      <mat-icon class="icon-medium">calendar_today</mat-icon>
                      <countdown (reached)="obtenerEventos()" [text]="formatoFecha" units="Days | Hours | Minutes | Seconds"
                        end="{{subasta.horaInicio}}"></countdown>
                    </div>

                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>