.example-card {
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 50px;
  }

.icon-medium{
  vertical-align: middle;
}

/deep/ .countdown {
  margin-top: 0%;
  width: 100%;
  background: white;
}

/deep/ .measurements {
    color: black;
    margin-right: 5px;
    display: flex !important;
 }

 /deep/ .measurements-text {
  margin-left: 5px !important;
}

.simulalink:hover {
  text-decoration:underline;
  font-weight: bold;
}