<mat-tab-group>
  <mat-tab label="Eventos activos">
    <br>
    <div class="container">
      <div *ngFor="let evento of eventos">
        <div *ngIf="validarInicio(evento.fechaInicio)">
          <h2>{{evento.descripcion}}</h2>
          <mat-divider></mat-divider>
          <br>
          <div *ngFor="let subasta of evento.subastasDto">
            <div>
              <mat-card class="example-card" *ngFor="let lote of subasta.lotesDto">
                <mat-card-header>
                  <mat-card-title><span class="bold">Nombre del lote:</span> {{lote.nombre}}</mat-card-title>
                  <mat-card-subtitle>subasta: ({{subasta.descripcion}})</mat-card-subtitle>
                </mat-card-header>
                <div *ngIf="!esVideo(lote.fotoLote)">
                  <img mat-card-image src="{{getImage(lote.fotoLote)}}">
                </div>
                <div *ngIf="esVideo(lote.fotoLote)">
                  <iframe width="100%" height="300" [src]="getVideo(lote.fotoLote)" allowfullscreen></iframe>
                </div>
                <mat-card-content>
                  <p>
                    {{lote.descripcion}}
                  </p>
                  <p>
                    <span class="bold">Precio inicial: </span> {{lote.precioInicial | currency:"USD":true}}
                  </p>
                  <p>
                    <span class="bold">Puja Actual: </span> 0
                  </p>
                  <p *ngIf="validarInicio(subasta.horaInicio)">
                    <span class="bold">La puja se cierra en: </span>
                  </p>
                  <p *ngIf="!validarInicio(subasta.horaInicio)">
                    <span class="bold">Hora de inicio</span> {{subasta.horaInicio | date:"dd/MM/yyyy hh:mm a"}}
                  </p>
                  <p *ngIf="!validarInicio(subasta.horaInicio)">
                    <span class="bold">Hora de finalización</span> {{subasta.horaFin | date:"dd/MM/yyyy hh:mm a"}}
                  </p>
                </mat-card-content>
                <mat-card-actions *ngIf="subasta.estadoSolicitud === 'AUTORIZADO'">
                  <button class="btn green">Realizar puja</button>
                </mat-card-actions>
                <mat-card-actions *ngIf="subasta.estadoSolicitud === 'PENDIENTE_POR_APROBAR'">
                  <button class="btn green" disabled>Solicitud pendiente por aprobar</button>
                </mat-card-actions>
                <mat-card-actions *ngIf="subasta.estadoSolicitud === 'NO_AUTORIZADO' && estaAutenticado">
                  <button class="btn green" (click)="enviarSolicitud(subasta.subastaId)">Solicitar Ingreso</button>
                </mat-card-actions>
              </mat-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
  
  <mat-tab label="Próximos eventos">
    <br>
    <div class="container">
      <div *ngFor="let evento of eventos">
        <div *ngIf="!validarInicio(evento.fechaInicio)">
          <h2>{{evento.descripcion}}</h2>
          <mat-divider></mat-divider>
          <br>
          <div *ngFor="let subasta of evento.subastasDto">
            <div>

              <mat-card class="example-card" *ngFor="let lote of subasta.lotesDto">
                <mat-card-header>
                  <mat-card-title><span class="bold">Nombre del lote:</span> {{lote.nombre}}</mat-card-title>
                  <mat-card-subtitle>subasta: ({{subasta.descripcion}})</mat-card-subtitle>
                </mat-card-header>
                <div *ngIf="!esVideo(lote.fotoLote)">
                  <img mat-card-image src="{{getImage(lote.fotoLote)}}">
                </div>
                <div *ngIf="esVideo(lote.fotoLote)">
                  <iframe width="100%" height="300" [src]="getVideo(lote.fotoLote)" allowfullscreen></iframe>
                </div>
                <mat-card-content>
                  <p>
                    {{lote.descripcion}}
                  </p>
                  <p>
                    <span class="bold">Precio inicial: </span> {{lote.precioInicial | currency:"USD":false}}
                  </p>
                  <p>
                    <span class="bold">Puja Actual: </span> 0
                  </p>
                  <p>
                    <span class="bold">Hora de inicio</span> {{subasta.horaInicio | date:"dd/MM/yyyy hh:mm a"}}
                  </p>
                  <p>
                    <span class="bold">Hora de finalización</span> {{subasta.horaFin | date:"dd/MM/yyyy hh:mm a"}}
                  </p>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>