.example-card {
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 50px;
  }

.countdown {
  width: 100%;
  height: 100px;
  background: black;
}

.icon-medium{
  vertical-align: middle;
}
.measurements {
    color: white;
    margin-right: 5px;
    padding: 10px;
 }

 .divider {
  font-size: 30px;
 }