


/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~bootstrap/dist/css/bootstrap.min.css';

table {
  width: 100%;
}

.required{
    font-size:  14px;
    color: #c32936;
    font-weight: 600;
}

.text-align-right{
    text-align: right !important;
}

.text-align-left{
  text-align: left;
}

.text-align-center{
    text-align: center;
}

.margin-right15{
    margin-right: 15px !important;
}

.title{
    margin-left: 15px;
    margin-top: 15px;
}

.center-card{
    display:flex !important;
    justify-content:center !important;
    align-items:center !important;
}

.modal-header {
    padding: 10px 15px;
    border-bottom: 1px solid #f4d20f;
  }

  .close {
    float: right;
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
    color: #e61c34;
    text-shadow: 0 1px 0 #fff;
    opacity: 1;
  }

  .close {
    float: right;
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
    color: #e61c34;
    text-shadow: 0 1px 0 #fff;
    opacity: 1;
  }
  
  .close:focus,
  .close:hover,
  .close:active {
    color: #e61c34;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.6;
  }

  .close:not(:disabled):not(.disabled):focus, .close:not(:disabled):not(.disabled):hover {
    color: #ff7373;
    outline: none;
    text-decoration: none;
    opacity: .75;
  }

  button.atp-ref-dialog-close {
    color: #372b0b;
    background: #f1d032 !important;
    border: none;
    padding: 7px 15px;
    border-radius: 4px;
  }
  
  button.atp-ref-dialog-close:focus,
  button.atp-ref-dialog-close:hover,
  button.atp-ref-dialog-close:active {
    background: #f8dd5d !important;
  }

  mat-icon {
    cursor: pointer;
 }

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}