<div class="modal-header">
  <h4>{{title}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="cancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div *ngIf="!withImage && !withVideo">
  <mat-card>
    <div class="col-md-12 vertical-modal">
      <p *ngFor="let obj of keys">
        <span *ngIf="mesagge[obj]">
          <strong>{{obj}}</strong> : {{mesagge[obj]}}
        </span>
      </p>
    </div>
  </mat-card>
</div>
<div *ngIf="withImage">
  <mat-card>
    <mat-card-content>
      <img mat-card-image src="{{getImage()}}" alt="Photo of a Shiba Inu">
      <div class="col-md-12 vertical-modal">
        <p *ngFor="let obj of keys">
          <span *ngIf="mesagge[obj] && obj != 'imagen'">
            <strong>{{obj}} </strong> : {{mesagge[obj]}}
          </span>
        </p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<div *ngIf="withVideo">
  <mat-card>
    <mat-card-content>
      <iframe width="100%" height="300" [src]='getVideo()' allowfullscreen></iframe>
      <div class="col-md-12 vertical-modal">
        <p *ngFor="let obj of keys">
          <span *ngIf="mesagge[obj] && obj != 'video'">
            <strong>{{obj}} </strong>: {{mesagge[obj]}}
          </span>
        </p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-cr-other" data-dismiss="modal" (click)="close()">Aceptar</button>
</div>