<div class="modal-header">
  <h4>{{title}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="cancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div>
  <mat-card>
    <div class="col-md-12 vertical-modal">
      <p *ngFor="let obj of keys">
        <span *ngIf="mesagge[obj]">
          {{obj}} : {{mesagge[obj]}}
        </span>
      </p>
    </div>
  </mat-card>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-cr-other" data-dismiss="modal" (click)="close()">Aceptar</button>
</div>