.event-width{
    width: 100%;
    width: 1000px;
  }
  
  .example-full-width {
    width: 100%;
  }

  ::ng-deep .cdk-overlay-container {
    position: fixed !important;
    z-index: 100000 !important; /* set value you need */
}

.modal-open .modal {
  display: flex !important;
  align-items: center !important;
}

.modal-dialog {
  flex-grow: 1;
}