<div class="container">
  <mat-card class="center-card">
    <form class="example-form" [formGroup]="form">

      <mat-form-field class="example-full-width">
        <input matInput [formControl]="descripcion" maxlength="25" placeholder="Descripción" autocomplete="off"
          required>
        <mat-error *ngIf="descripcion.hasError('required')">
          La descripción es <strong>requerida</strong>
        </mat-error>
      </mat-form-field>

      <mat-checkbox [formControl]="esAnticipo" [(value)]="selectedAnticipo" (change)="onChangeCheckAnticipo($event)">¿Tiene
        valor de anticipo?</mat-checkbox>
      <mat-form-field class="example-full-width" *ngIf="selectedAnticipo">
        <input matInput [formControl]="valorAnticipo" maxlength="25" placeholder="Anticipo" autocomplete="off"
          currencyMask required>
        <mat-error *ngIf="valorAnticipo.hasError('required')">
          El valor de anticipo es <strong>requerido</strong>
        </mat-error>
      </mat-form-field>
      <br>

      <mat-form-field class="margin-right15">
        <input matInput [formControl]="fechaInicio" [matDatepicker]="inicio" placeholder="Fecha de inicio" [min]="minDate"
          autocomplete="off" readonly required>
        <mat-datepicker-toggle matSuffix [for]="inicio"></mat-datepicker-toggle>
        <mat-datepicker #inicio></mat-datepicker>
        <mat-error *ngIf="fechaInicio.hasError('required')">
          La fecha de inicio es <strong>requerida</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <div class="custom-buttons-example">
          <input placeholder="Hora de inicio" aria-label="Custom buttons" matInput [formControl]="horaInicio" value="{{horaInicioActual}}"
            [ngxTimepicker]="timepickerWithButtons" autocomplete="off" readonly>
          <ngx-material-timepicker #timepickerWithButtons [cancelBtnTmpl]="cancelBtn" [confirmBtnTmpl]="confirmBtn"></ngx-material-timepicker>
          <ng-template #cancelBtn>
            <button style="margin-right: 10px;" class="btn btn-default">Cancelar</button>
          </ng-template>
          <ng-template #confirmBtn>
            <button class="btn btn-primary">Aceptar</button>
          </ng-template>
        </div>
        <mat-error *ngIf="horaInicio.hasError('required')">
          La hora de inicio es <strong>requerida</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="margin-right15">
        <input matInput [formControl]="fechaFin" [matDatepicker]="fin" placeholder="Fecha de finalización" [min]="minDate"
          [max]="maxDate" autocomplete="off" readonly required>
        <mat-datepicker-toggle matSuffix [for]="fin"></mat-datepicker-toggle>
        <mat-datepicker #fin></mat-datepicker>
        <mat-error *ngIf="fechaFin.hasError('required')">
          La fecha de finalización es <strong>requerida</strong>
        </mat-error>
        <mat-error *ngIf="fechaFin.hasError('fechaMala')">
          La fecha de finalización del evento debe ser mayor a la fecha de inicio
        </mat-error>
      </mat-form-field>


      <mat-form-field>
        <div class="custom-buttons-example">
          <input placeholder="Hora de finalización" aria-label="Custom buttons" matInput [formControl]="horaFin" value="{{horaFinActual}}"
            [ngxTimepicker]="timepickerWithButtons2" autocomplete="off" readonly>
          <ngx-material-timepicker #timepickerWithButtons2 [cancelBtnTmpl]="cancelBtn" [confirmBtnTmpl]="confirmBtn"></ngx-material-timepicker>
          <ng-template #cancelBtn>
            <button style="margin-right: 10px;" class="btn btn-default">Cancelar</button>
          </ng-template>
          <ng-template #confirmBtn>
            <button class="btn btn-primary">Aceptar</button>
          </ng-template>
        </div>
        <mat-error *ngIf="horaFin.hasError('required')">
          La hora de finalización es <strong>requerida</strong>
        </mat-error>
        <mat-error *ngIf="horaFin.hasError('horaMala')">
          La hora de finalización de la subasta debe ser mayor a la hora de inicio
        </mat-error>
      </mat-form-field>

      <br>
      <br>

      <div class="row">
        <div class="col-12 text-align-right">
          <button type="submit" class="btn yellow" (click)="onSubmit()">Guardar</button>
        </div>
      </div>
    </form>
  </mat-card>
</div>