<br>
<br>

<div class="container login">
  <mat-card>
    <mat-tab-group [selectedIndex]="selected">
      <mat-tab label="Ingresar">
        <br>
        <img src="assets/images/user.png" class="center" alt="login">
        <br>
        <mat-card class="center-card">
          <form class="example-form" [formGroup]="form" (submit)="onSubmit()">

            <div class="row">
              <div class="col-md-12">
                <mat-form-field class="example-full-width">
                  <input matInput [formControl]="ingreso" autocomplete="off" maxlength="50" placeholder="Usuario / Correo"
                    required>
                  <mat-error *ngIf="ingreso.hasError('required')">
                    El usuario es <strong>requerido</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <mat-form-field class="example-full-width">
                  <input matInput [formControl]="clave" autocomplete="off" maxlength="50" placeholder="contraseña" type="password"
                    required>
                  <mat-error *ngIf="clave.hasError('required')">
                    La contraseña es <strong>requerida</strong>
                  </mat-error>
                </mat-form-field>
              </div>

            </div>

            <div class="text-align-center">
              <span (click)="cambiarTab(2)" class="simulalink">¿olvidó su contraseña?</span>
              <br>
              <span (click)="cambiarTab(3)" class="simulalink">cambiar contraseña</span>
            </div>
            <br>

            <div class="row">
              <div class="col-12 text-align-center">
                <button type="submit" class="btn btn-primary yellow">Ingresar</button>
              </div>
            </div>
          </form>
        </mat-card>
      </mat-tab>
      <mat-tab label="Registrarse">
        <mat-card class="center-card">
          <form class="example-form" [formGroup]="formRegister" (submit)="onSubmitRegister()">

            <mat-form-field class="example-full-width">
              <mat-select placeholder="Tipo de documento" [formControl]="td" [(value)]="selectedTd" required>
                <mat-option *ngFor="let td of tipoDocumentos" [value]="td.tipoDocumentoId">
                  {{td.descripcion}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="td.hasError('required')">Por favor seleccione un tipo de documento</mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <input matInput [formControl]="documento" autocomplete="off" maxlength="15" placeholder="Número de documento"
                (keypress)="isNumberKey($event)" type="tel" required>
              <mat-error *ngIf="documento.hasError('required')">
                El documento es <strong>requerido</strong>
              </mat-error>
              <mat-error *ngIf="documento.hasError('pattern')">
                Número de documento <strong>no válido</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <input matInput [formControl]="nombre" autocomplete="off" maxlength="70" placeholder="Nombre" required>
              <mat-error *ngIf="nombre.hasError('required')">
                El nombre es <strong>requerido</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <input matInput [formControl]="telefono" autocomplete="off" maxlength="15" placeholder="Teléfono"
                (keypress)="isNumberKey($event)" type="tel" required>
              <mat-error *ngIf="telefono.hasError('required')">
                El teléfono es <strong>requerido</strong>
              </mat-error>
              <mat-error *ngIf="telefono.hasError('pattern')">
                Por favor, ingrese <strong>solo números</strong> 
              </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <input matInput [formControl]="correo" autocomplete="off" maxlength="50" placeholder="Correo" required>
              <mat-error *ngIf="correo.hasError('required')">
                El correo es <strong>requerido</strong>
              </mat-error>
              <mat-error *ngIf="correo.hasError('email')">
                El correo no es <strong>válido</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <input matInput [formControl]="direccion" autocomplete="off" maxlength="50" placeholder="Dirección"
                required>
              <mat-error *ngIf="direccion.hasError('required')">
                La dirección es <strong>requerido</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-select placeholder="Departamento" [formControl]="departamento" [(value)]="selectedDepartamento"
                (selectionChange)="obtenerCiudades($event.value)" required>
                <mat-option *ngFor="let depar of departamentos" [value]="depar.departamentoId">
                  {{depar.descripcion}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="departamento.hasError('required')">Por favor seleccione un departamento</mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-select placeholder="Municipio" [formControl]="municipio" [(value)]="selectedMunicipio" required>
                <mat-option *ngFor="let muni of municipios" [value]="muni.municipioId">
                  {{muni.descripcion}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="municipio.hasError('required')">Por favor seleccione un municipio</mat-error>
            </mat-form-field>

            <br>
            <br>
            <mat-divider></mat-divider>

            <mat-form-field class="example-full-width">
              <input matInput [formControl]="usuarioRegister" autocomplete="off" maxlength="50" (keyup)="validarCliente($event.target.value)"
                placeholder="Usuario" required>
              <mat-error *ngIf="usuarioRegister.hasError('required')">
                El usuario es <strong>requerido</strong>
              </mat-error>
              <mat-error *ngIf="!usuarioRegister.valid && !usuarioRegister.hasError('required')">
                Este nombre de usuario no está <strong>disponible</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <input type="password" matInput autocomplete="off" [formControl]="claveRegister" maxlength="50"
                placeholder="Contraseña" required>
              <mat-error *ngIf="claveRegister.hasError('required')">
                La contraseña es <strong>requerida</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <input type="password" matInput [formControl]="claveRegisterRepeat" maxlength="50" placeholder="Validar contraseña"
                autocomplete="off" required>
              <mat-error *ngIf="claveRegisterRepeat.hasError('required')">
                Es <strong>requerido</strong> validar la contraseña
              </mat-error>
              <mat-error *ngIf="claveRegisterRepeat.hasError('claveMala')">
                La clave no coincide
              </mat-error>
            </mat-form-field>

            <br>

            <div class="row">
              <div class="col-12 text-align-right">
                <button type="submit" class="btn btn-primary yellow">Guardar</button>
              </div>
            </div>

          </form>
        </mat-card>
      </mat-tab>

      <mat-tab label="¿olvidó su contraseña?">
        <mat-card class="center-card">
          <form class="example-form" [formGroup]="formPass" (submit)="onSubmitPass()">
            <div class="row">
              <div class="col-md-12">
                <mat-form-field class="example-full-width">
                  <input matInput [formControl]="ingresoPass" autocomplete="off" maxlength="50" placeholder="Usuario / Correo"
                    required>
                  <mat-error *ngIf="ingresoPass.hasError('required')">
                    El usuario es <strong>requerido</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-12 text-align-center">
                <button type="submit" class="btn btn-primary yellow">Recuperar</button>
              </div>
            </div>
          </form>
        </mat-card>
      </mat-tab>

      <mat-tab label="cambiar contraseña">
        <mat-card class="center-card">
          <form class="example-form" [formGroup]="formChange" (submit)="onSubmitChange()">

            <mat-form-field class="example-full-width">
              <input matInput [formControl]="ingresoChange" autocomplete="off" maxlength="50" (keyup)="validarCliente($event.target.value)"
                placeholder="Usuario / Correo" required>
              <mat-error *ngIf="ingresoChange.hasError('required')">
                El usuario es <strong>requerido</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <input type="password" matInput autocomplete="off" [formControl]="claveOld" maxlength="50" placeholder="Contraseña actual"
                required>
              <mat-error *ngIf="claveOld.hasError('required')">
                La contraseña actual es <strong>requerida</strong>
              </mat-error>
            </mat-form-field>


            <mat-divider></mat-divider>
            <br>

            <mat-form-field class="example-full-width">
              <input type="password" matInput [formControl]="claveNew" maxlength="50" placeholder="Contraseña nueva"
                autocomplete="off" required>
              <mat-error *ngIf="claveNew.hasError('required')">
                La contraseña nueva es <strong>requerida</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <input type="password" matInput [formControl]="claveNewRepeat" maxlength="50" placeholder="Validar contraseña"
                autocomplete="off" required>
              <mat-error *ngIf="claveNewRepeat.hasError('required')">
                Es <strong>requerido</strong> validar la contraseña
              </mat-error>
              <mat-error *ngIf="claveNewRepeat.hasError('claveMala')">
                La clave no coincide
              </mat-error>
            </mat-form-field>

            <div class="row">
              <div class="col-12 text-align-center">
                <button type="submit" class="btn btn-primary yellow">Cambiar</button>
              </div>
            </div>
          </form>
        </mat-card>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>