/*MODALS*/

.text-modal {
    margin: 0;
  }
  
  .footer-information-modal {
    border-top: 1px solid #ebebec;
    margin-top: 12px;
    padding: 10px 0 0 0;
    color: #7c7d7d;
    font-size: 11px;
    line-height: 11px;
  }
  
  .modal-icon {
    text-align: center;
  }
  
  .modal-title{
    font-size: 18px;
  }
  
  .vertical-modal {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 10%;
  }
  
  .vertical-modal img {
    margin-right: 20px;
  }
  
  .input-group-append button {
    padding: 4px 8px;
    margin: 0;
  }
  
  .input-group-append {
    width: 20%;
    display: inline-block;
  }
  
  .cr-date-input {
    width: 80% !important;
  }
  
  .input-group.date {
    width: 100%;
  }
  
  .cr-date-input:focus {
    box-shadow: none;
    outline: none;
  }
  
  .cr-number-orden {
    font-size: 24px;
    color: #304a85;
    line-height: 2px;
    margin-top: 13px;
  }
  
