<div class="container">
  <h2 class="title">
    <button mat-fab color="primary" class="text-align-left" (click)="agregarEvento()">
      <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
    </button>
    {{title}}
  </h2>
  <div>
    <span class="margin-right15"></span>
    <mat-form-field class="example-50-width text-align-righ">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar...">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>
  <mat-card class="center-card">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef>Descripción</th>
        <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
      </ng-container>

      <ng-container matColumnDef="fechaInicio">
        <th mat-header-cell *matHeaderCellDef> Fecha de inicio </th>
        <td mat-cell *matCellDef="let element">{{element.fechaInicio | date: 'dd/MM/yyyy'}} </td>
      </ng-container>

      <ng-container matColumnDef="fechaFin">
        <th mat-header-cell *matHeaderCellDef> Fecha de fin </th>
        <td mat-cell *matCellDef="let element"> {{element.fechaFin | date: 'dd/MM/yyyy'}} </td>
      </ng-container>

      <ng-container matColumnDef="municipio">
        <th mat-header-cell *matHeaderCellDef> Municipio </th>
        <td mat-cell *matCellDef="let element"> {{element.municipio.descripcion}} </td>
      </ng-container>

      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <mat-icon (click)="eliminar(element)" class="margin-right15">delete</mat-icon>
          <mat-icon (click)="editar(element)" class="margin-right15">edit</mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card>
  <mat-paginator [pageSizeOptions]="[6, 10, 25, 100]"></mat-paginator>
  <div>