<div class="great">
    <h1 class="title margin-top-cero contet-great">{{title}}</h1>
  </div>
  <br>
<div class="container">
  <mat-card>
    <mat-form-field class="example-chip-list">
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let documento of documentos" [selectable]="selectable" [removable]="removable" 
        (click)="editar(documento)">
          {{documento.descripcion}}
          <mat-icon matChipRemove *ngIf="removable" (click)="elminar(documento)">cancel</mat-icon>
        </mat-chip>
        <input placeholder="Agregar tipo de documento" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="agregar($event)" maxlength="50">
      </mat-chip-list>
    </mat-form-field>
  </mat-card>
</div>