<div class="great">
  <h1 class="title margin-top-cero contet-great">{{title}}</h1>
</div>
<div class="container">
  <div>
    <br>
    <button mat-fab color="primary" class="text-align-left yellow" (click)="agregarAnimal()">
      <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
    </button>
    <span class="margin-right15"></span>
    <mat-form-field class="example-50-width text-align-righ">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar...">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <br>
  </div>
  <mat-card class="center-card">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef>Descripción</th>
        <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
      </ng-container>

      <ng-container matColumnDef="peso">
        <th mat-header-cell *matHeaderCellDef> peso </th>
        <td mat-cell *matCellDef="let element"> {{element.peso}} </td>
      </ng-container>

      <ng-container matColumnDef="categoria">
        <th mat-header-cell *matHeaderCellDef> Categoría </th>
        <td mat-cell *matCellDef="let element"> {{element.categoria.descripcion}} </td>
      </ng-container>

      <ng-container matColumnDef="raza">
        <th mat-header-cell *matHeaderCellDef> Raza </th>
        <td mat-cell *matCellDef="let element"> {{element.raza.descripcion}} </td>
      </ng-container>

      <ng-container matColumnDef="sexo">
        <th mat-header-cell *matHeaderCellDef> Sexo </th>
        <td mat-cell *matCellDef="let element"> {{element.sexo}} </td>
      </ng-container>

      <ng-container matColumnDef="lote">
        <th mat-header-cell *matHeaderCellDef> Lote </th>
        <td mat-cell *matCellDef="let element"> {{element.lote.descripcion}} </td>
      </ng-container>

      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <mat-icon (click)="eliminar(element)" class="margin-right15">delete</mat-icon>
          <mat-icon (click)="editar(element)" class="margin-right15">edit</mat-icon>
          <mat-icon (click)="ver(element)">visibility</mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </mat-card>
  <mat-paginator [pageSizeOptions]="[6, 10, 25, 100]"></mat-paginator>
  <div>