<div class="great">  
  <h1 class="title margin-top-cero contet-great">{{title}}</h1>  
</div>
<br>
<div class="container">
  <mat-card class="center-card">
    <form class="example-form" [formGroup]="form" (submit)="onSubmit()">

      <div class="row">
        <div class="col-md-12">
          <mat-form-field class="example-full-width">
            <input matInput [formControl]="nombre" maxlength="25" placeholder="Nombre"
            autocomplete="off" required>
            <mat-error *ngIf="nombre.hasError('required')">
              El nombre es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <mat-form-field class="example-full-width">
            <input matInput [formControl]="descripcion" maxlength="25" placeholder="Descripción" 
            autocomplete="off" required>
            <mat-error *ngIf="descripcion.hasError('required')">
              La descripción es <strong>requerida</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <mat-form-field class="example-full-width">
            <input matInput [formControl]="precioBase" maxlength="25" placeholder="Precio base"
            autocomplete="off" currencyMask required>
            <mat-error *ngIf="precioBase.hasError('required')">
              El precio base es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      
      <mat-form-field class="example-full-width">
        <mat-select placeholder="Propietario" [formControl]="propietario" [(value)]="selectedPropietario" required>
          <mat-option *ngFor="let prop of propietarios" [value]="prop.clienteId">
            {{prop.nombre}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="propietario.hasError('required')">Por favor seleccione un propietario</mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-select placeholder="Subasta" [formControl]="subasta" [(value)]="selectedSubasta" required>
          <mat-option *ngFor="let sub of subastas" [value]="sub.subastaId">
            {{sub.descripcion}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="subasta.hasError('required')">Por favor seleccione una subasta</mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-select placeholder="Departamento" [formControl]="departamento" [(value)]="selectedDepartamento"
          (selectionChange)="obtenerCiudades($event.value)" required>
          <mat-option *ngFor="let depar of departamentos" [value]="depar.departamentoId">
            {{depar.descripcion}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="departamento.hasError('required')">Por favor seleccione un departamento</mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-select placeholder="Municipio" [formControl]="municipio" [(value)]="selectedMunicipio" required>
          <mat-option *ngFor="let muni of municipios" [value]="muni.municipioId">
            {{muni.descripcion}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="municipio.hasError('required')">Por favor seleccione un municipio</mat-error>
      </mat-form-field>


      <mat-tab-group>
        <mat-tab label="Subir Imagen">
          <br>
          <br>
          <div class="example-full-width">
            <input accept="image/*" type="file" #file [formControl]="foto" placeholder="Foto" (change)="uploadImage(file.files)">
          </div>
          <mat-error *ngIf="!foto.valid">
            La imagen del lote es <strong>requerida</strong>
          </mat-error>
        </mat-tab>

        <mat-tab label="Enlazar video">
          <br>
          <mat-form-field class="example-full-width">
            <input matInput [formControl]="video" maxlength="200" placeholder="Url del video" (input)="uploadVideo($event.target.value)"
              required>
            <mat-error *ngIf="video.hasError('required') && !foto.value">
              La url del video es <strong>requerida</strong>
            </mat-error>
            <mat-error *ngIf="video.hasError('pattern')">
              La url del video no es <strong>válida, </strong> asegurese que el enlace sea correcto
            </mat-error>
          </mat-form-field>
        </mat-tab>
      </mat-tab-group>

      <br>
      <div *ngIf="foto.value">
          <strong>Imagen cargada: </strong> {{recursoCargado}}
      </div>
      <div *ngIf="video.value && video.valid">
          <strong>Url enlazada: </strong> <a href="{{recursoCargado}}" target="_blank">Video</a>
      </div>
      <br>
      <br>

      <div class="row">
        <div class="col-12 text-align-right">
          <button class="btn green margin-right15" (click)="regresar()">Cancelar</button>
          <button type="submit" class="btn yellow">Guardar</button>
        </div>
      </div>
    </form>
  </mat-card>
</div>