<mat-toolbar color="primary">
  <button mat-button [matMenuTriggerFor]="clientes">Clientes</button>
  <button mat-button [matMenuTriggerFor]="eventos">Eventos</button>
  <mat-menu #clientes="matMenu">
    <button mat-menu-item routerLink="/listar-cliente">Listar</button>
    <button mat-menu-item routerLink="/crear-propietario">Crear</button>
  </mat-menu>

  <mat-menu #eventos="matMenu">
    <button mat-menu-item routerLink="/listar-evento">Listar</button>
    <button mat-menu-item routerLink="/crear-evento">Crear</button>
  </mat-menu>

  <span class="example-fill-remaining-space"></span>
  <span>
    Bienvenido, {{usuario}}
    <mat-icon (click)="logout()">exit_to_app</mat-icon>
  </span>
</mat-toolbar>

<router-outlet></router-outlet>